In [471]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import geopandas as gpd

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from geopy.geocoders import Nominatim
import overpass
import geocoder
from tqdm import tqdm_notebook
from sklearn.preprocessing import LabelEncoder

In [472]:
import overpy
from sklearn.preprocessing import StandardScaler

### Задача:

Прогноз продаж одной из популярных моделей [фичерфонов](https://ru.wikipedia.org/wiki/%D0%A4%D0%B8%D1%87%D0%B5%D1%80%D1%84%D0%BE%D0%BD) (на картинке ниже пример похожего устройства) в салонах МегаФона
![](https://39.img.avito.st/640x480/8468720439.jpg)

### Исходные данные:

Датасет содержит следующие поля:

1. `point_id` - Индентификатор салона
2. `lon` - Долгота точки
3. `lat` - Широта точки
4. `target` - Значение таргета, усредненное за несколько месяцев и отнормированное

### Требования к решению и советы:

Ниже приведен список из нескольких важных пунктов, необходимых для решения задания. Выполнение каждого из пунктов влияет на итоговую оценку. Вы можете выполнить каждый из пунктов разными способами, самым лучшим будет считаться вариант, когда всё получение и обработка данных будут реализованы на Питоне (пример: вы можете скачать данные из OSM через интерфейс на сайте overpass-turbo или с помощью библиотек `overpass`/`requests`. Оба варианта будут зачтены, но больше баллов можно заработать во втором случае)



1. Салоны расположены в нескольких разных городах, вам необходимо **определить город для каждого салона** (это понадобится во многих частях задания). К этому есть разные подходы. Вы можете провести [обратное геокодирование](https://en.wikipedia.org/wiki/Reverse_geocoding) с помощью геокодера [Nominatim](https://nominatim.org/), доступного через библиотеку `geopy` примерно вот так:
```python
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")
location = geolocator.reverse("52.509669, 13.376294")
print(location.address)
```
В таком случае, вам придется обрабатывать полученную строку адреса, чтобы извлечь название города. Также вы можете скачать из OSM или найти в любом другом источнике границы административно территориальных границ России и пересечь с ними датасет с помощью `geopandas.sjoin` (этот вариант более надежный, но нужно будет разобраться с тем, как устроены границы АТД в OSM, обратите внимание на [этот тег](https://wiki.openstreetmap.org/wiki/Key:admin_level))


2. **Используйте данные OSM**: подумайте, какие объекты могут влиять на продажи фичерфонов. Гипотеза: такие телефоны покупают люди, приезжающие в город или страну ненадолго, чтобы вставить туда отдельную симкарту для роуминга. Можно попробовать использовать местоположения железнодорожных вокзалов (изучите [этот тег](https://wiki.openstreetmap.org/wiki/Tag:railway%3Dstation)). Необходимо использовать хотя бы 5 разных типов объектов из OSM. Скорее всего, вам придется качать данные OSM отдельно для разных городов (см. пример для Нью-Йорка из лекции)


3. **Используйте разные способы генерации признаков**: описать положение салона МегаФона относительно станций метро можно разными способами - найти ***расстояние до ближайшей станции***, или же посчитать, сколько станций попадает в ***500 метровую буферную зону*** вокруг салона. Такие признаки будут нести разную информацию. Так же попробуйте поэкспериментировать с размерами буферных зон (представьте, что значат в реальности радиусы 100, 500, 1000 метров). Попробуйте посчитать расстояние до центра города, до других объектов.

4. **Сделайте визуализации**: постройте 2-3 карты для какого нибудь из городов - как распределен в пространстве таргет, где находятся объекты, полученные вами из OSM. Можете использовать любой инструмент - обычный `plot()`, `folium`, `keplergl`. Если выберете Кеплер, обязательно сохраните в файл конфиг карты, чтобы ее можно было воспроизвести. Сделать это можно вот так:

```python
import json
json_data = kepler_map.config
with open('kepler_config.json', 'w') as outfile:
    json.dump(json_data, outfile)
```
5. Задание не ограничено приведенными выше пунктами, попробуйте нагенерировать интересных признаков, найти в интернете дополнительные данные (в таком случае в комментарии к коду укажите ссылку на ресурс, откуда взяли данные)



6. Это довольно сложная задача - датасет очень маленький, данные по своей природе довольно случайны. Поэтому место и скор на Kaggle не будут играть решающую роль в оценке, но позволят заработать дополнительные баллы

In [473]:
geolocator = Nominatim(user_agent="Kindenko",scheme = 'https', timeout=100)
location = geolocator.reverse("55.848630, 37.590776")
print(location.raw['address']['state']) 
#Имя только Kindenko!!

Москва

In [25]:
#from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="Kindenko")
location = geolocator.reverse("52.509669, 13.376294")
print(location.address)

Potsdamer Platz, Fontaneplatz, Tiergarten, Mitte, Berlin, Rixdorf, Berlin, 10785, Deutschland

In [20]:
#from OSMPythonTools.overpass import Overpass
#from OSMPythonTools.nominatim import Nominatim

In [474]:
import requests
import json
from keplergl import KeplerGl
from geopy import distance

In [475]:
import utm

In [476]:
def find_object(data):
    final_data = {}
    for i in data:
        overpass_url = "http://overpass-api.de/api/interpreter"
        overpass_query = f"""
        [out:json];
        area[name="{i}"]->.searchArea;
        (
        node["railway"="station"](area.searchArea);
        way["railway"="station"](area.searchArea);
        relation["railway"="station"](area.searchArea);
        );

        out body;
        >;
        out skel qt;
        """
        response = requests.get(overpass_url, params={'data': overpass_query})
        data = response.json()
        final_data[i] = data
    return final_data

In [477]:
def find_coordinate_train_object(data):
    coordinate = {}
    for i in data:
        coordinate[i] = {}
        for j in range(len(data[i]['elements'])):
            try:
                coo = []
                coo.append(data[i]['elements'][j]['lat'])
                coo.append(data[i]['elements'][j]['lon'])
                coordinate[i].update({j:coo})
            except:
                continue
    return coordinate

### Read data

In [478]:
train = pd.read_csv('mf_geo_train.csv')
test = pd.read_csv('mf_geo_test.csv')

# Города в трейн

In [479]:
train.head()

   point_id        lon        lat    target
0  ommNZCUV  37.590776  55.848630 -0.348157
1  nMe2LHPb  37.784210  55.750271  1.294206
2  ZgodVRqB  39.635721  47.213330 -1.039679
3  0t2jNYdz  37.704570  55.782020 -1.169339
4  U27W4QJ7  37.643983  55.730188 -0.088837

In [480]:
coo_train = train.iloc[:, 1:3]

In [481]:
city_train = pd.DataFrame(columns = ['city'])

In [482]:
for i in range(coo_train.shape[0]):
        coordinate = str(coo_train.values[i][1]) + ',' + str(coo_train.values[i][0])
        geolocator = Nominatim(user_agent='Kindenko')
        location = geolocator.reverse(coordinate)
        try:
            if 'район' in location.raw['address']['city']:
                city_train.loc[i, 'city'] = location.raw['address']['state']
            else:
                city_train.loc[i, 'city'] = location.raw['address']['city']
        except:
            city_train.loc[i, 'city'] = location.raw['address']['state']

In [483]:
city_train['city'].unique()

array(['Москва', 'Ростов-на-Дону', 'Красноярск', 'Санкт-Петербург', 'Уфа',
       'городской округ Казань', 'Екатеринбург', 'Нижний Новгород',
       'Колпино', 'Новосибирск', 'городской округ Новосибирск',
       'городской округ Самара', 'Самара', 'Казань', 'Зеленоград',
       'Балашиха', 'Пушкин'], dtype=object)

In [484]:
city_train['city'].value_counts()

Москва                         157
Санкт-Петербург                 78
городской округ Самара          22
Екатеринбург                    22
Ростов-на-Дону                  21
Нижний Новгород                 21
Красноярск                      20
Уфа                             19
городской округ Казань          17
городской округ Новосибирск     14
Новосибирск                     12
Казань                           8
Самара                           5
Колпино                          4
Зеленоград                       3
Балашиха                         1
Пушкин                           1
Name: city, dtype: int64

In [485]:
city_train

               city
0            Москва
1            Москва
2    Ростов-на-Дону
3            Москва
4            Москва
..              ...
420          Москва
421          Москва
422          Москва
423          Москва
424          Москва

[425 rows x 1 columns]

In [486]:
train = train.join(city_train)

# Присвоим выбросам нормальные города

In [487]:
for i in range(len(train['city'])):
    if train['city'][i] == 'городской округ Казань':
        train['city'][i] = 'Казань'
    if train['city'][i] == 'городской округ Самара':
        train['city'][i] = 'Самара'
    if train['city'][i] == 'городской округ Новосибирск':
        train['city'][i] = 'Новосибирск'
    if train['city'][i] == 'Колпино':
        train['city'][i] = 'Санкт-Петербург'
    if train['city'][i] == 'Колпино':
        train['city'][i] = 'Санкт-Петербург'
    if train['city'][i] == 'Зеленоград':
        train['city'][i] = 'Москва'
    if train['city'][i] == 'Балашиха':
        train['city'][i] = 'Москва'
    if train['city'][i] == 'Пушкин':
        train['city'][i] = 'Санкт-Петербург'

# Какие жд объекты в радиусе 100м

In [488]:
def find_object(data):
    final_data = {}
    for i in data:
        overpass_url = "http://overpass-api.de/api/interpreter"
        overpass_query = f"""
        [out:json];
        area[name="{i}"]->.searchArea;
        (
        node["railway"="station"](area.searchArea);
        way["railway"="station"](area.searchArea);
        relation["railway"="station"](area.searchArea);
        );

        out body;
        >;
        out skel qt;
        """
        response = requests.get(overpass_url, params={'data': overpass_query})
        data = response.json()
        final_data[i] = data
    return final_data

In [489]:
def find_coordinate_train_object(data):
    coordinate = {}
    for i in data:
        coordinate[i] = {}
        for j in range(len(data[i]['elements'])):
            try:
                coo = []
                coo.append(data[i]['elements'][j]['lat'])
                coo.append(data[i]['elements'][j]['lon'])
                coordinate[i].update({j:coo})
            except:
                continue
    return coordinate

In [490]:
name_city = ('Москва','Санкт-Петербург','Самара','Новосибирск','Казань','Екатеринбург','Нижний Новгород','Ростов-на-Дону','Красноярск','Уфа')

In [491]:
train_object = find_object(name_city)

In [493]:
coo_train_object = find_coordinate_train_object(train_object)

In [502]:
def train_in_radius(coordinate, data):
    radius = pd.DataFrame(0, index=range(len(data)),columns = ['radius_1000'])
    for i in range(len(data['city'])):
        for j in coordinate:
            if data['city'][i] == j:
                for k in range(len(coordinate[j])):
                    try:
                        coo1 = []
                        coo2 = []
                        coo1.append(data['lat'][i])
                        coo1.append(data['lon'][i])
                        coo2.append(coordinate[j][k][0])
                        coo2.append(coordinate[j][k][1]) 
                        dis = distance.geodesic(coo1,coo2).m
                        if dis < 1000:
                                radius.loc[i] = 1  
                    except:
                        continue
    return radius

In [497]:
%%time
radius_100 = train_in_radius(coo_train_object, train)

Wall time: 12.7 s

In [499]:
radius_250 = train_in_radius(coo_train_object, train)

In [501]:
radius_500 = train_in_radius(coo_train_object, train)

In [503]:
radius_1000 = train_in_radius(coo_train_object, train)

In [504]:
train = train.join(radius_100)
train = train.join(radius_250)
train = train.join(radius_500)
train = train.join(radius_1000)

In [505]:
train[(train['city'] == 'Москва') & (train['radius_1000'] == 1)]

,point_id,lon,lat,target,city,radius_100,radius_250,radius_500,radius_1000
0,ommNZCUV,37.590776,55.848630,-0.348157,Москва,0,1,1,1
1,nMe2LHPb,37.784210,55.750271,1.294206,Москва,0,1,1,1
3,0t2jNYdz,37.704570,55.782020,-1.169339,Москва,1,1,1,1
4,U27W4QJ7,37.643983,55.730188,-0.088837,Москва,0,1,1,1
7,CO76tdVs,37.444304,55.850511,0.213704,Москва,0,0,1,1
...,...,...,...,...,...,...,...,...,...
420,AA8hN7bJ,37.628765,55.740664,0.213704,Москва,1,1,1,1
421,uNw6t6xk,37.586825,55.794233,-0.002397,Москва,0,1,1,1
422,Ap42ei8k,37.678790,55.772910,-0.910019,Москва,0,1,1,1
423,rn9A8r62,37.752130,55.619640,-0.326547,Москва,0,0,0,1
424,960M6jye,37.705770,55.782950,-1.234169,Москва,0,1,1,1

# Минимальное расстояние от салона до ЖД

In [506]:
def dis_for_train(coordinate, data):
    radius = pd.DataFrame(0, index=range(len(data)),columns = ['dis_for_railway'])
    for i in range(len(data['city'])):
        for j in coordinate:
            if data['city'][i] == j:
                for k in range(len(coordinate[j])):
                    try:
                        coo1 = []
                        coo2 = []
                        coo1.append(data['lat'][i])
                        coo1.append(data['lon'][i])
                        coo2.append(coordinate[j][k][0])
                        coo2.append(coordinate[j][k][1]) 
                        dis = distance.geodesic(coo1,coo2).m
                        if 
                        radius.loc[i] = dis  
                    except:
                        continue
    return radius

In [507]:
rasstoyanie = dis_for_train(coo_train_object,train)

In [509]:
coo_train_object

{'Москва': {0: [55.7788343, 37.6537207],
  1: [55.7268684, 37.449885],
  2: [55.8871767, 37.66155],
  3: [55.8696254, 37.6641842],
  4: [55.7577737, 37.6621837],
  5: [55.7885334, 37.7510006],
  6: [55.7833072, 37.7213614],
  7: [55.7742475, 37.659914],
  8: [55.7932703, 37.6321318],
  9: [55.7394565, 37.4834225],
  10: [55.7436954, 37.4978443],
  11: [55.7461002, 37.5148876],
  12: [55.7400295, 37.534383],
  13: [55.7388362, 37.5483675],
  14: [55.7817059, 37.7038046],
  15: [55.7730735, 37.6805829],
  16: [55.7566597, 37.6218635],
  17: [55.7521035, 37.6069401],
  18: [55.7407773, 37.4168044],
  19: [55.7359311, 37.4671952],
  20: [55.7607707, 37.6261868],
  21: [55.740465, 37.6518996],
  22: [55.7318655, 37.6658787],
  23: [55.7252622, 37.6868197],
  24: [55.7088457, 37.7315088],
  25: [55.7056021, 37.7657844],
  26: [55.7156444, 37.8179229],
  27: [55.7171259, 37.793436],
  28: [55.7518652, 37.6007518],
  29: [55.7500874, 37.5413666],
  30: [55.7524027, 37.6086825],
  31: [55.7437082, 37.5656375],
  32: [55.7295963, 37.4707878],
  33: [55.4296414, 36.8401711],
  34: [55.7517772, 37.8167485],
  35: [55.7511973, 37.7864823],
  36: [55.7575692, 37.7492941],
  37: [55.7483053, 37.5342309],
  38: [55.6188149, 37.5082645],
  39: [55.6572267, 37.5406588],
  40: [55.670128, 37.5545439],
  41: [55.6062621, 37.5337476],
  42: [55.8146459, 37.7344982],
  43: [55.8038675, 37.7450504],
  44: [55.7963698, 37.7153466],
  45: [55.8550132, 37.4762129],
  46: [55.8400784, 37.4866958],
  47: [55.819052, 37.4980181],
  48: [55.8004021, 37.5331563],
  49: [55.7897192, 37.558254],
  50: [55.7888112, 37.6802722],
  51: [55.7751889, 37.656145],
  52: [55.7798177, 37.6668085],
  53: [55.7577239, 37.616431],
  54: [55.7598341, 37.6278184],
  55: [55.7658017, 37.639033],
  56: [55.8551194, 37.6527359],
  57: [55.8451269, 37.6384451],
  58: [55.7525349, 37.7200631],
  59: [55.7471909, 37.6833543],
  60: [55.741326, 37.6535281],
  61: [55.7809058, 37.632017],
  62: [55.7732468, 37.6312618],
  63: [55.7664348, 37.6374494],
  64: [55.7409762, 37.6271445],
  65: [55.7305186, 37.6112721],
  66: [55.719937, 37.6079338],
  67: [55.6488591, 37.2695467],
  68: [55.7454302, 37.603807],
  69: [55.7512323, 37.6101708],
  70: [55.7233833, 37.5642133],
  71: [55.7269062, 37.5785665],
  72: [55.7076167, 37.5862116],
  73: [55.6876717, 37.5733013],
  74: [55.6778103, 37.5627637],
  75: [55.6426733, 37.525617],
  76: [55.7358259, 37.5912739],
  77: [55.7297372, 37.6095104],
  78: [55.7488081, 37.5827207],
  79: [55.7702632, 37.5951713],
  80: [55.7708721, 37.6179101],
  81: [55.6009822, 37.5541288],
  82: [55.7306501, 37.6376285],
  83: [55.7321592, 37.6379161],
  84: [55.7575574, 37.619237],
  85: [55.7414166, 37.629181],
  86: [55.7648759, 37.6062783],
  87: [55.7073446, 37.6577684],
  88: [55.6784809, 37.6638965],
  89: [55.6936232, 37.6644353],
  90: [55.654956, 37.6221979],
  91: [55.7796188, 37.6317007],
  92: [55.7290614, 37.6237111],
  93: [55.74168, 37.6513994],
  94: [55.5481082, 37.5546254],
  95: [55.5454337, 37.5432114],
  96: [55.5416984, 37.5307058],
  97: [55.5381467, 37.5165467],
  98: [55.7691227, 37.6195674],
  99: [55.7464187, 37.683244],
  100: [55.7192118, 37.6755698],
  101: [55.7074228, 37.6847689],
  102: [55.6935214, 37.7269124],
  103: [55.6908447, 37.7532983],
  104: [55.6756224, 37.7619254],
  105: [55.6500377, 37.7433056],
  106: [55.7648133, 37.6090981],
  107: [55.750922, 37.6070547],
  108: [55.7281573, 37.6247223],
  109: [55.7087323, 37.6228899],
  110: [55.6828664, 37.6224927],
  111: [55.672117, 37.6102797],
  112: [55.6626511, 37.6056223],
  113: [55.6523964, 37.5984345],
  114: [55.640455, 37.60669],
  115: [55.622256, 37.6092188],
  116: [55.6123701, 37.6045065],
  117: [55.595085, 37.6004397],
  118: [55.5825315, 37.5965311],
  119: [55.8172548, 37.5763083],
  120: [55.8065606, 37.5819074],
  121: [55.7924879, 37.5888159],
  122: [55.7810309, 37.6012035],
  123: [55.897843, 37.5873717],
  124: [55.8838943, 37.6035774],
  125: [55.8631775, 37.6046508],
  126: [55.8607342, 37.4364942],
  127: [55.8264719, 37.4369725],
  128: [55.808636, 37.4643996],
  129: [55.7775898, 37.5195474],
  130: [55.7735503, 37.5464429],
  131: [55.7646947, 37.5615158],
  132: [55.761007, 37.5800096],
  133: [55.7745795, 37.6545599],
  134: [55.8471936, 37.5899714],
  135: [55.7103247, 37.5593135],
  136: [55.7798736, 37.6035877],
  137: [55.7332578, 37.6676378],
  138: [55.6137591, 37.7444879],
  139: [55.6108588, 37.7186583],
  140: [55.6133951, 37.6945563],
  141: [55.6214833, 37.6692504],
  142: [55.6357353, 37.6565408],
  143: [55.5692818, 37.5769079],
  144: [55.5689234, 37.5766367],
  145: [55.76077, 37.5772436],
  146: [55.7446962, 37.5655855],
  147: [55.7933663, 37.4938123],
  148: [55.8504805, 37.4397738],
  149: [55.6636469, 37.4832189],
  150: [55.6926456, 37.5332597],
  151: [55.5927752, 37.6539345],
  152: [55.7381678, 37.6171996],
  153: [55.659739, 37.7506688],
  154: [55.6771999, 37.5060872],
  155: [55.7654313, 37.6074249],
  156: [55.7297909, 37.3924879],
  157: [55.6078207, 37.1868524],
  158: [55.745199, 37.6893076],
  159: [55.7784041, 37.6567616],
  160: [55.7412588, 37.6277917],
  161: [55.8457543, 37.3622259],
  162: [55.7669421, 37.6400984],
  163: [55.7955156, 37.616309],
  164: [55.7812551, 37.6150107],
  165: [55.4186124, 36.8717086],
  166: [55.2758332, 37.1039421],
  167: [55.776699, 37.583583],
  168: [55.7761124, 37.5840507],
  169: [55.6331187, 37.5189112],
  170: [55.6332902, 37.7435774],
  171: [55.6123108, 37.745177],
  172: [55.621144, 37.743772],
  173: [55.7290949, 37.6410311],
  174: [55.7450888, 37.8637539],
  175: [55.8626483, 37.6832963],
  176: [55.6181611, 37.6682255],
  177: [55.5101252, 37.5621844],
  178: [55.5778026, 37.1097354],
  179: [55.882782, 37.5677763],
  180: [55.9801606, 37.1736179],
  181: [55.9045015, 37.5382527],
  182: [55.5903775, 37.615322],
  183: [55.7358077, 37.7644261],
  184: [55.7440571, 37.5146757],
  185: [55.8695173, 37.5100117],
  186: [55.7397339, 37.7953827],
  187: [55.8270524, 37.4410998],
  188: [55.7175334, 37.6433584],
  189: [55.632749, 37.7660616],
  190: [55.856143, 37.3542024],
  191: [55.6853376, 37.8561486],
  192: [55.7016254, 37.8519732],
  193: [55.5820698, 37.5768663],
  194: [55.6001546, 37.5565381],
  195: [55.775648, 37.5778621],
  196: [55.7953011, 37.5887086],
  197: [55.7420034, 37.5628449],
  198: [55.7877328, 37.7816023],
  199: [55.7947265, 37.7993959],
  200: [55.8093389, 37.7986397],
  201: [55.7364446, 37.5175667],
  202: [55.8396775, 37.6668741],
  203: [55.6458937, 37.4726181],
  204: [55.7491138, 37.5391788],
  205: [55.63298, 37.4418942],
  206: [55.621922, 37.4241868],
  207: [55.7589041, 37.7460379],
  208: [55.7063123, 37.6631393],
  209: [55.7470515, 37.7377294],
  210: [55.8455793, 37.6392062],
  211: [55.6901311, 37.6188659],
  212: [55.8473436, 37.5918934],
  213: [55.7475553, 37.532032],
  214: [55.7884942, 37.5043625],
  215: [55.7897913, 37.743213],
  216: [55.8396193, 37.5201074],
  217: [55.6898387, 37.6057607],
  218: [55.7399173, 37.5340531],
  219: [55.8471565, 37.5514638],
  220: [55.7206173, 37.5613109],
  221: [55.8489281, 37.5711327],
  222: [55.7990098, 37.4990272],
  223: [55.7069679, 37.5863972],
  224: [55.7713304, 37.7450661],
  225: [55.8137004, 37.4869799],
  226: [55.7184497, 37.6977066],
  227: [55.7573064, 37.525668],
  228: [55.8293089, 37.7024844],
  229: [55.8228944, 37.5876678],
  230: [55.825887, 37.4964047],
  231: [55.712651, 37.6778388],
  232: [55.7247884, 37.4968443],
  233: [55.7071424, 37.5162362],
  234: [55.6975607, 37.4985423],
  235: [55.817031, 37.7373315],
  236: [55.7771437, 37.507379],
  237: [55.8041325, 37.7460075],
  238: [55.7321929, 37.7281427],
  239: [55.7241462, 37.7168875],
  240: [55.6978975, 37.6475367],
  241: [55.8133726, 37.6025285],
  242: [55.7442905, 37.5653054],
  243: [55.6550419, 37.6487114],
  244: [55.730741, 37.4459445],
  245: [55.7305945, 37.4460143],
  246: [55.7555324, 37.6335865],
  247: [55.7554765, 37.633211],
  248: [55.7354961, 37.5942664],
  249: [55.8346874, 37.5748248],
  250: [55.8349897, 37.5744209],
  251: [55.8183044, 37.4357519],
  252: [55.8087525, 37.6389375],
  253: [55.8036918, 37.4031404],
  254: [55.8355134, 37.3822424],
  255: [55.7579973, 37.6580796],
  256: [55.7568632, 37.6567226],
  257: [55.7572385, 37.6593527],
  258: [55.8211135, 37.6414259],
  259: [55.805248, 37.5151206],
  260: [55.8781328, 37.4807583],
  261: [55.7767037, 37.5192001],
  262: [55.7918907, 37.5570509],
  263: [55.786561, 37.5332007],
  264: [55.7571292, 37.5240139],
  265: [55.7488741, 37.5394343],
  266: [55.8666119, 37.5471803],
  267: [55.8561131, 37.5613445],
  268: [55.846023, 37.5738299],
  269: [55.6893407, 37.4828246],
  270: [55.6705052, 37.4487297],
  271: [55.6396636, 37.3551575],
  272: [55.6340295, 37.3350858],
  273: [55.6477716, 37.3705045],
  274: [55.6496916, 37.3912177],
  275: [55.6595871, 37.4173114],
  276: [55.7332794, 37.7298142],
  277: [55.865014, 37.4748195],
  278: [55.7923612, 37.5864226],
  279: [55.6066179, 37.286848],
  280: [55.6498183, 37.7014302],
  281: [55.6572454, 37.384817],
  282: [55.6836848, 37.4513867],
  283: [55.7034236, 37.8511497],
  284: [55.7103159, 37.8792438],
  285: [55.7084818, 37.9005253],
  286: [55.7030787, 37.9278318],
  287: [55.5605517, 37.468027],
  288: [55.5687344, 37.4592563],
  289: [55.5862179, 37.4338591],
  290: [55.6013885, 37.4076824],
  291: [55.5838359, 37.1383485],
  292: [55.7303906, 37.4722832],
  293: [55.6901319, 37.6188623],
  294: [55.7690187, 37.6489633],
  295: [55.7565949, 37.4081393],
  296: [55.7179559, 37.7824475],
  297: [55.7269484, 37.7532016],
  298: [55.7050252, 37.8190003],
  299: [55.7649224, 37.7067035],
  300: [55.7536426, 37.7192026],
  301: [55.7317801, 37.7300307],
  302: [55.6099621, 37.2660622],
  304: [55.8296282, 37.6453992],
  305: [55.8296289, 37.6451001],
  306: [55.8289683, 37.644783],
  307: [55.8290303, 37.6445699],
  308: [55.8295674, 37.6450456],
  309: [55.829646, 37.6453393],
  310: [55.8295617, 37.6450636],
  311: [55.8296563, 37.6452576],
  312: [55.8296471, 37.6451736],
  313: [55.829637, 37.6453697],
  314: [55.8295644, 37.645055]},
 'Санкт-Петербург': {0: [59.9904636, 30.3547672],
  1: [59.9882032, 30.4250102],
  2: [59.9581823, 30.3581566],
  3: [59.926932, 30.3631131],
  4: [59.9188141, 30.3307149],
  5: [60.039202, 30.2964601],
  6: [59.9090382, 30.3874886],
  7: [60.1043173, 30.2186217],
  8: [59.7230316, 30.4296924],
  9: [59.9650795, 30.3126901],
  10: [59.9551564, 30.3194568],
  11: [59.9501946, 30.2891491],
  12: [59.9594172, 30.292403],
  13: [60.0179314, 30.3181589],
  14: [59.9706083, 30.2621631],
  15: [59.9876618, 30.2556462],
  16: [59.9276034, 30.3193825],
  17: [59.9259772, 30.3200465],
  18: [59.9268254, 30.345826],
  19: [59.9217707, 30.3587604],
  20: [59.9233521, 30.3868253],
  21: [59.929598, 30.4151991],
  22: [59.9315338, 30.4424016],
  23: [59.9872292, 30.3008957],
  24: [60.0043174, 30.2963437],
  25: [60.0354511, 30.3210663],
  26: [59.9299533, 30.3589882],
  27: [59.9090112, 30.4817525],
  28: [59.9210151, 30.4639871],
  29: [59.9286349, 29.652281],
  30: [59.8308399, 30.5002908],
  31: [59.8498292, 30.4598459],
  32: [59.8788174, 30.4401471],
  33: [59.8662645, 30.467311],
  34: [59.9342459, 30.330204],
  35: [59.9487335, 30.2379349],
  36: [59.8926493, 30.318071],
  37: [59.9053289, 30.31797],
  38: [59.8802598, 30.3190724],
  39: [59.8665723, 30.2609658],
  40: [59.9305358, 30.4396951],
  41: [59.9339756, 30.3284024],
  42: [59.8296785, 30.3754571],
  43: [59.9076378, 30.3024081],
  44: [59.8997076, 30.2740578],
  45: [59.8782349, 30.2605758],
  46: [59.8675916, 30.3214952],
  47: [59.8328825, 30.3514432],
  48: [59.8506391, 30.2683897],
  49: [59.8419484, 30.2520174],
  50: [59.8965111, 30.3604481],
  51: [59.9136447, 30.3511926],
  52: [60.0930885, 29.9585264],
  53: [59.9093033, 30.2374901],
  54: [59.8514032, 30.3223819],
  55: [59.868623, 30.3818778],
  56: [59.8823279, 30.3703188],
  57: [59.7311168, 30.1041375],
  58: [59.8257233, 30.4197096],
  59: [59.8167241, 30.3567684],
  60: [59.8645527, 30.2503408],
  61: [59.8717091, 30.2814709],
  62: [59.8827376, 30.3049613],
  63: [59.9260656, 30.3179991],
  64: [59.8256602, 30.3779485],
  65: [59.7417628, 30.4198804],
  66: [59.8057985, 30.3884693],
  67: [59.9361378, 30.3138916],
  68: [59.9151867, 30.317345],
  69: [59.9153356, 30.3183867],
  70: [59.9808193, 30.5158033],
  71: [59.7311366, 30.3387285],
  72: [60.2054905, 29.7004653],
  73: [59.7497657, 30.6145285],
  74: [59.8232844, 30.1808245],
  75: [59.8494371, 30.4531922],
  76: [60.1443327, 30.0136787],
  77: [59.9917683, 30.2968097],
  78: [59.8072735, 30.512595],
  79: [59.9572163, 30.3553493],
  80: [59.9693707, 30.34951],
  81: [60.001492, 30.3673518],
  82: [60.0098587, 30.3742911],
  83: [60.012108, 30.3927401],
  84: [60.0332461, 30.4168173],
  85: [59.9219052, 30.3327657],
  86: [59.8312736, 30.5011562],
  87: [59.9212978, 30.332857],
  88: [60.0669104, 30.3340207],
  89: [59.8934875, 30.3927556],
  90: [59.9049303, 30.2986621],
  91: [59.9431799, 30.275362],
  92: [59.8078421, 30.5627544],
  93: [60.0257291, 30.2954338],
  94: [59.9176829, 29.7716698],
  95: [59.7791113, 30.1255386],
  96: [59.8892094, 30.4953264],
  97: [59.8637168, 29.9284613],
  98: [59.8472174, 30.0323088],
  99: [59.6935464, 30.4327713],
  100: [59.9431101, 30.3607773],
  101: [59.8754866, 30.4158605],
  102: [59.8567227, 30.3953283],
  103: [59.8399935, 30.4108979],
  104: [59.8200658, 30.4328114],
  105: [59.9222162, 30.3849178],
  106: [60.0468145, 30.297483],
  107: [59.9305438, 30.3576212],
  108: [59.926084, 30.3478731],
  109: [59.9865474, 30.3456603],
  110: [59.9719575, 30.2119346],
  111: [59.8980817, 30.4217648],
  112: [59.9873791, 30.2022463],
  113: [59.9949604, 30.327581],
  114: [60.081186, 30.2585958],
  115: [59.8867414, 30.3469359],
  116: [60.0494229, 30.3329039],
  117: [59.8080485, 30.332745],
  118: [60.0103144, 30.256491],
  119: [59.8327717, 30.2902655],
  120: [59.8954651, 30.3612033],
  124: [59.875117, 30.2921112],
  125: [59.8751248, 30.2918682],
  126: [59.8752783, 30.2921316],
  127: [59.875286, 30.2918886],
  128: [59.8869724, 30.3342997],
  129: [59.8870117, 30.3340512],
  130: [59.8872648, 30.33421],
  131: [59.8872256, 30.3344585],
  132: [59.9671275, 30.4449191],
  133: [59.9671321, 30.4451845],
  134: [59.9672705, 30.4449092],
  135: [59.9672751, 30.4451745]},
 'Самара': {0: [53.212474, 50.2825835],
  1: [53.212475, 50.2476557],
  2: [53.2069832, 50.2357699],
  3: [53.2015543, 50.2204405],
  4: [53.2009557, 50.1995781],
  5: [53.2002741, 50.1765124],
  6: [53.2028088, 50.1604963],
  7: [53.2119179, 50.1489865],
  8: [53.1856845, 50.1213009],
  9: [53.5092783, 50.1404362],
  10: [53.2112578, 50.2944917],
  11: [53.3016083, 50.3009911],
  12: [53.2063225, 50.252804],
  13: [53.2109838, 50.2656292],
  14: [53.1193879, 50.07156],
  15: [53.2336037, 50.2878447],
  16: [53.4199058, 50.1960234],
  17: [53.2095756, 50.1341954],
  18: [53.2112906, 50.2695324],
  20: [53.4817868, 49.8574468],
  21: [53.4816951, 49.8574137],
  22: [53.4817228, 49.8571968],
  23: [53.4818145, 49.8572298]},
 'Новосибирск': {0: [54.9643598, 83.1196256],
  1: [55.0354138, 82.8987593],
  2: [55.0415192, 82.9174398],
  3: [55.0301196, 82.9205836],
  4: [55.0189971, 82.9391895],
  5: [55.008935, 82.9383965],
  6: [54.9952899, 82.8545317],
  7: [54.9830288, 82.8929739],
  8: [55.0594367, 82.9126339],
  9: [54.9889415, 82.9061329],
  10: [55.0423492, 82.9185286],
  11: [55.0512341, 82.9148176],
  12: [55.0437515, 82.9350442],
  13: [54.9660527, 82.8194172],
  14: [55.0377142, 82.9767701],
  15: [54.9623781, 83.058193],
  16: [55.0044916, 82.9522049],
  17: [54.8685235, 83.0775803],
  18: [55.0679429, 82.9741446],
  19: [55.0537907, 82.8387275],
  20: [55.0497501, 82.8522301],
  21: [55.0359357, 82.8947243],
  22: [55.0548002, 82.867567],
  23: [55.0434092, 82.953014],
  24: [55.049895, 82.9141883],
  25: [55.0353802, 82.8989088],
  26: [55.0422414, 82.9184471],
  27: [55.0436437, 82.9349627],
  28: [55.0433036, 82.9529436],
  29: [54.9890098, 82.9059976],
  30: [54.9830938, 82.89296],
  31: [55.0512261, 82.9146402],
  32: [55.041508, 82.9172688],
  33: [55.0301005, 82.9203997],
  34: [55.0089585, 82.9383627],
  37: [55.0373677, 82.9777548],
  38: [55.0373108, 82.9778661],
  39: [55.0374372, 82.9779648],
  40: [55.0374662, 82.977908],
  41: [55.0374094, 82.9780193],
  42: [55.1735592, 82.9868721],
  43: [55.1736386, 82.9866435],
  44: [55.1733354, 82.9863207],
  45: [55.173256, 82.9865494]},
 'Казань': {0: [55.749663, 49.2087778],
  1: [55.759693, 49.1916069],
  2: [55.7765517, 49.1435332],
  3: [55.7855307, 49.1249837],
  4: [55.795151, 49.1071056],
  5: [55.8434389, 49.0812189],
  6: [55.8439437, 48.8932345],
  7: [55.8013106, 49.0117546],
  8: [55.81716, 49.098499],
  9: [55.765133, 49.16651],
  10: [55.7376227, 49.1280249],
  11: [55.7677505, 49.1073058],
  12: [55.8257061, 48.9172447],
  13: [55.8562385, 49.0843827],
  14: [55.8419677, 49.08198],
  15: [55.8284795, 49.0822807],
  16: [55.8378075, 49.0284163],
  17: [55.815124, 48.8950479],
  18: [55.7886328, 49.0997021],
  19: [55.7428925, 49.2203534],
  20: [55.805147, 48.9538953],
  21: [55.8530649, 49.1955784],
  23: [55.7640003, 49.1101537],
  24: [55.7637986, 49.1103757],
  25: [55.7638648, 49.1105656],
  26: [55.7640665, 49.1103436]},
 'Екатеринбург': {0: [56.8174062, 60.6981498],
  1: [56.8789423, 60.5517273],
  2: [56.7505929, 60.6087731],
  3: [56.8575654, 60.6003203],
  4: [56.8476503, 60.5993974],
  5: [56.8267858, 60.6026826],
  6: [56.8774068, 60.6121753],
  7: [56.8363538, 60.5990344],
  8: [56.9013898, 60.6140234],
  9: [56.8882608, 60.6135553],
  10: [56.8880486, 60.5520923],
  11: [56.9280607, 60.5659783],
  12: [56.7505132, 60.759751],
  13: [56.9124957, 60.6329915],
  14: [56.7617259, 60.8193298],
  15: [56.817693, 60.6427736],
  16: [56.871556, 60.6752646],
  17: [56.7876577, 60.7878137],
  18: [56.7974044, 60.6319587],
  19: [56.8685676, 60.5778852],
  20: [56.8078202, 60.6097872],
  21: [56.7778334, 60.6253119],
  22: [56.8589136, 60.6060637],
  23: [56.8824878, 60.4729879],
  24: [56.8293519, 60.6485009],
  25: [56.7949401, 60.7272184],
  27: [56.8851454, 60.5995581],
  28: [56.8852384, 60.599133],
  29: [56.8851147, 60.5991653],
  30: [56.885269, 60.5995258]},
 'Нижний Новгород': {0: [56.3332764, 43.8948583],
  1: [56.3261878, 43.9113027],
  2: [56.3205583, 43.9267525],
  3: [56.3105914, 43.9371885],
  4: [56.2990741, 43.9381541],
  5: [56.2851552, 43.9277795],
  6: [56.2764656, 43.9212993],
  7: [56.2665054, 43.9132416],
  8: [56.2574111, 43.9016391],
  9: [56.2529053, 43.890065],
  10: [56.2476955, 43.8766948],
  11: [56.2421119, 43.858041],
  12: [56.2547891, 43.971823],
  13: [56.3390608, 43.883332],
  14: [56.3079263, 43.9332257],
  15: [56.2551813, 43.8837715],
  16: [56.3137948, 43.9939237],
  17: [56.3209761, 43.9471056],
  18: [56.3352584, 43.9495909],
  19: [56.3221653, 43.9456934],
  25: [56.3669488, 43.828483],
  26: [56.3669119, 43.8283829],
  27: [56.3666233, 43.828729],
  28: [56.3666601, 43.8288291],
  29: [56.3667676, 43.828556],
  30: [56.2866197, 43.8540927],
  31: [56.2866618, 43.8540418],
  32: [56.286715, 43.8543416],
  33: [56.2867562, 43.8542908],
  34: [56.29555, 43.8771402],
  35: [56.2956028, 43.8770738],
  36: [56.2956372, 43.8773654],
  37: [56.29569, 43.877299],
  38: [56.2517889, 43.9810107],
  39: [56.2518839, 43.9810607],
  40: [56.2517199, 43.9814607],
  41: [56.2518149, 43.9815107],
  42: [56.3220323, 43.9469183],
  43: [56.3215273, 43.9456934],
  44: [56.3216744, 43.94551],
  45: [56.3216774, 43.946085],
  46: [56.3217607, 43.9463022],
  47: [56.3217697, 43.9453912],
  48: [56.321824, 43.9464674],
  49: [56.3219977, 43.9459845],
  50: [56.3220084, 43.9469482],
  51: [56.3221361, 43.9467889],
  52: [56.3222508, 43.946646]},
 'Ростов-на-Дону': {0: [47.2297278, 39.8269951],
  1: [47.2405707, 39.7551228],

In [508]:
rasstoyanie

     dis_for_railway
0        4021.297602
1       12407.220402
2       10794.541924
3        6472.024626
4       11072.776929
..               ...
420      9960.694857
421      5386.133473
422      6654.551236
423     24323.745327
424      6431.477178

[425 rows x 1 columns]

# Найдем расстояние от салона до центра города

In [399]:
#координаты центра всех городов
def find_city_center(data):
    final_data = {}
    for i in data:
        overpass_url = "http://overpass-api.de/api/interpreter"
        overpass_query = f"""
        [out:json];
        area[name="{i}"]->.searchArea;
        (
        node["place"="city"]["name:ru"="{i}"](area.searchArea);
        );

        out body;
        >;
        out skel qt;
        """
        response = requests.get(overpass_url, params={'data': overpass_query})
        data = response.json()
        final_data[i] = data
    return final_data

In [400]:
coo_city_centre = find_city_center(name_city)

In [401]:
def find_distance_to_centre(coordinate, data):
    distance_to_center = pd.DataFrame(0, index=range(len(data)),columns = ['distance_to_centre'])
    for i in range(len(data['city'])):
        for j in coordinate:
            if data['city'][i] == j:
                    try:
                        coo1 = []
                        coo2 = []
                        coo1.append(data['lat'][i])
                        coo1.append(data['lon'][i])
                        coo2.append(coordinate[j]['elements'][0]['lat'])
                        coo2.append(coordinate[j]['elements'][0]['lon']) 
                        dis = distance.geodesic(coo1,coo2).m
                        distance_to_center.loc[i] = dis  
                    except:
                        continue
    return distance_to_center

In [402]:
distance = find_distance_to_centre(coo_city_centre,train)

In [403]:
distance.loc[distance['distance_to_centre'] < 1000]

     distance_to_centre
10           433.035301
25           727.961763
40           271.463960
61           939.171254
65           751.889269
68           442.362554
81           913.618888
179           36.518288
230          747.169751
231          161.004516
264          428.804842
350          534.984695

In [404]:
train = train.join(distance)

In [405]:
train

,point_id,lon,lat,target,city,radius_100,radius_250,radius_500,radius_1000,distance_to_centre
0,ommNZCUV,37.590776,55.848630,-0.348157,Москва,0,1,1,1,11059.296189
1,nMe2LHPb,37.784210,55.750271,1.294206,Москва,0,1,1,1,10468.820770
2,ZgodVRqB,39.635721,47.213330,-1.039679,Ростов-на-Дону,0,0,0,0,5803.464445
3,0t2jNYdz,37.704570,55.782020,-1.169339,Москва,1,1,1,1,6498.538254
4,U27W4QJ7,37.643983,55.730188,-0.088837,Москва,0,1,1,1,2802.731790
...,...,...,...,...,...,...,...,...,...,...
420,AA8hN7bJ,37.628765,55.740664,0.213704,Москва,1,1,1,1,1298.914111
421,uNw6t6xk,37.586825,55.794233,-0.002397,Москва,0,1,1,1,5241.342723
422,Ap42ei8k,37.678790,55.772910,-0.910019,Москва,0,1,1,1,4589.311225
423,rn9A8r62,37.752130,55.619640,-0.326547,Москва,0,0,0,1,16846.622989
424,960M6jye,37.705770,55.782950,-1.234169,Москва,0,1,1,1,6618.007747

# Найдем количество магазинов в окресности салона.

In [406]:
#Магазины в окрестности
def find_object_shop(points,shift):
    final_data = list()
    excepted = list()
    count = 0
    for i in points:
        low_edge = radian_shift(i[0], i[1], North_shift = -shift, East_shift= -shift)
        high_edge = radian_shift(i[0], i[1], North_shift = shift, East_shift= shift)
        overpass_url = "http://overpass-api.de/api/interpreter"
        overpass_query = f"""
        [out:json];
        (
        node["shop"]({low_edge[0]},{low_edge[1]},{high_edge[0]},{high_edge[1]});
        );

        out body;
        >;
        out skel qt;
        """
        try:
          response = requests.get(overpass_url, params={'data': overpass_query})
          data = response.json()
          count += 1
          #print("Processed",i)
        except:
          print("Excepted points: ",i," Row: ",count)
          data = find_object_shop([i],shift)
          print("Exception resolved: ",i," Row: ",count)
          count += 1
        final_data.append(data)
    return final_data

In [407]:
def radian_shift(lat, lon, North_shift = 100, East_shift= 100):
    point = utm.from_latlon(lat,lon)
    lat_fin = point[1] + North_shift
    lon_fin = point[0] + East_shift
    point = utm.to_latlon(lon_fin, lat_fin, point[2], point[3])
    return [point[0],point[1]]

In [408]:
def find_coordinate_shop_object(data):
    coordinate = []
    for i in range(len(data)):
        coo = []
        coo.append(data['lat'][i])
        coo.append(data['lon'][i])
        coordinate.append(coo)
    return coordinate

In [409]:
coordinate_salon = find_coordinate_shop_object(coo_train)

In [410]:
%%time
shops = find_object_shop(coordinate_salon, 200)

Wall time: 10min 1s

In [308]:
for i in range(len(shops)):
    count_shops['count_shops'][i] = len(shops[i]['elements'])

In [411]:
train = train.join(count_shops)

In [412]:
train

,point_id,lon,lat,target,city,radius_100,radius_250,radius_500,radius_1000,distance_to_centre,count_shops
0,ommNZCUV,37.590776,55.848630,-0.348157,Москва,0,1,1,1,11059.296189,9
1,nMe2LHPb,37.784210,55.750271,1.294206,Москва,0,1,1,1,10468.820770,40
2,ZgodVRqB,39.635721,47.213330,-1.039679,Ростов-на-Дону,0,0,0,0,5803.464445,1
3,0t2jNYdz,37.704570,55.782020,-1.169339,Москва,1,1,1,1,6498.538254,50
4,U27W4QJ7,37.643983,55.730188,-0.088837,Москва,0,1,1,1,2802.731790,29
...,...,...,...,...,...,...,...,...,...,...,...
420,AA8hN7bJ,37.628765,55.740664,0.213704,Москва,1,1,1,1,1298.914111,76
421,uNw6t6xk,37.586825,55.794233,-0.002397,Москва,0,1,1,1,5241.342723,51
422,Ap42ei8k,37.678790,55.772910,-0.910019,Москва,0,1,1,1,4589.311225,69
423,rn9A8r62,37.752130,55.619640,-0.326547,Москва,0,0,0,1,16846.622989,14
424,960M6jye,37.705770,55.782950,-1.234169,Москва,0,1,1,1,6618.007747,57

# Визуализация

In [462]:
map_2 = KeplerGl(height=400, data={"data_1": train})
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_1':      point_id        lon        lat    target  radius_100  radius_250  \
0    ommNZCU…

In [463]:
json_data = map_2.config
with open('kepler_config.json', 'w') as outfile:
    json.dump(json_data, outfile)

In [464]:
train_moscow = train.loc[train['city'] == 'Москва']

In [466]:
map_3 = KeplerGl(height=400, data={"data_2": train_moscow})
map_3

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_2':      point_id        lon        lat    target  radius_100  radius_250  \
0    ommNZCU…

In [467]:
json_data = map_3.config
with open('kepler_config.json', 'w') as outfile:
    json.dump(json_data, outfile)

In [468]:
train_spb = train.loc[train['city'] == 'Санкт-Петербург']

In [469]:
map_4 = KeplerGl(height=400, data={"data_2": train_spb})
map_4

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_2':      point_id        lon        lat    target  radius_100  radius_250  \
6    O3tOF6u…

In [470]:
json_data = map_4.config
with open('kepler_config.json', 'w') as outfile:
    json.dump(json_data, outfile)

# Преобразовываем данные и стандартизируем

In [425]:
labelencoder = LabelEncoder()

In [426]:
scaler = StandardScaler()

In [427]:
train.iloc[:, 4] = labelencoder.fit_transform(train.iloc[:, 4])

In [450]:
train.iloc[:, 9] = scaler.fit_transform(train.iloc[:, 9].values.reshape(-1,1))

In [451]:
train.head()

,point_id,lon,lat,target,city,radius_100,radius_250,radius_500,radius_1000,distance_to_centre,count_shops
0,ommNZCUV,37.590776,55.848630,-0.348157,-0.576948,-0.365148,1.261532,0.983663,0.761528,0.324956,-0.699850
1,nMe2LHPb,37.784210,55.750271,1.294206,-0.576948,-0.365148,1.261532,0.983663,0.761528,0.233303,0.270731
2,ZgodVRqB,39.635721,47.213330,-1.039679,0.577854,-0.365148,-0.792687,-1.016608,-1.313148,-0.490852,-0.950323
3,0t2jNYdz,37.704570,55.782020,-1.169339,-0.576948,2.738613,1.261532,0.983663,0.761528,-0.382963,0.583822
4,U27W4QJ7,37.643983,55.730188,-0.088837,-0.576948,-0.365148,1.261532,0.983663,0.761528,-0.956624,-0.073668

### Fit model

In [315]:
X_train, X_valid, y_train, y_valid = train_test_split(train.drop('target', axis=1), train[['target']])
model = LinearRegression().fit(X_train.drop('point_id', axis=1), y_train)

In [316]:
mean_absolute_error(y_valid, model.predict(X_valid.drop('point_id', axis=1)))

0.7103871528749965

### Make submission

In [452]:
submission = pd.read_csv('sample_submission.csv')
submission['target'] = model.predict(X_valid.drop('point_id', axis=1))
submission.to_csv('my_submission_06.csv', index=False)